* {
	margin: 0;
	border: 0;
	box-sizing: border-box;
	text-decoration: none;
}

/* Main */


.container {
	position: relative;
	width: 1440px;
	height: 900px;
	margin: 0 auto;
	background-color: #FEFEFE;
	padding: 54px 0 44px 0;

}

/* menu is for Main, Team and Lesson */

.menu {
	position: relative;
	width: 486px;
	height: 44px;
	text-align: center;
	left: 477px;
	background-color: #FEFEFE;
/*	z-index: 2; */
}

.menu-link {
	position: relative;
	font-family: 'Open Sans', sans-serif;
	font-style: normal;
	font-weight: 700;
	font-size: 24px;
	line-height: 33px;
	color: black;
}

.menu-link:hover {
	color: blue;
}

.menu-active {
	color: blue;
}

.menu-marg {
	position: relative;
	margin: 0 128px;
}

.bloc {
	position: relative;
	background-color: #EAEBED;
	width: 1404px;
	height: 726px;
	border-radius: 30px;
	top: 32px;
	left: 18px;
	z-index: 1;
}

.buttons {
	position: relative;
	width: 105px;
	height: 420px;
	left: 23px;
	top: 171px;
	background: #FEFEFE;
	border-radius: 30px;
	padding: 31px 19px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.button {
	position: relative;
	width: 67px;
	height: 62px;
	background-color: rgba(39, 133, 247, 1);
	border-radius: 15px;
	transition: width 0.7s;
	overflow: hidden;
	z-index: 1;
	cursor: pointer;
}

.button:hover {
	width: 158px;
	background-color: rgba(39, 133, 247, 1);
}

.button::after {
	position: absolute;
	font-size: 24px;
	color: white;
	line-height: 62px;
	top: 0;
	left: 68px;
}

.button:hover .img {
	opacity: 0;
}

.but-1::after {
	content: "Project";
}

.but-2::after {
	content: "Account";
}

.but-3::after {
	content: "Groups";
}

.but-4::after {
	content: "Cloud";
}

.but-5::after {
	content: "Setting";
}

.img-0 {
	position: absolute;
	width: 35px;
	height: 32px;
	margin: 15px 16px;
	z-index: 1;
/*	background-color: rgba(39, 133, 247, 1); */
}

.img {
	position: absolute;
	width: 35px;
	height: 32px;
	margin: 15px 16px;
	z-index: 2;
}

.project {
	position: absolute;
	width: 592px;
	height: 130px;
	border-radius: 30px;
	top: 80px;
	left: 158px;
	background: #FEFEFE;
	padding: 37px 42px;
}

.company {
	position: absolute;
	width: 583px;
	height: 130px;
	border-radius: 30px;
	top: 80px;
	right: 34px;
	background: #FEFEFE;
	padding: 37px 42px;
	z-index: 1;
}

.description {
	position: absolute;
	width: 732px;
	height: 194px;
	border-radius: 30px;
	top: 244px;
	left: 158px;
	background: #FEFEFE;
	padding: 42px 42px;
}

.team-lorem {
	position: absolute;
	width: 732px;
	height: 194px;
	border-radius: 30px;
	left: 158px;
	bottom: 72px;
	background: #FEFEFE;
}

.data {
	position: absolute;
	width: 447px;
	height: 410px;
	border-radius: 30px;
	right: 34px;
	bottom: 72px;
	background: #FEFEFE;
}

.text-18-700 {
	font-family: 'Open Sans', sans-serif;
	font-style: normal;
	font-weight: 700;
	font-size: 18px;
	line-height: 25px;
	color: #B1B1B1;
}

.text-24-700 {
	font-family: 'Open Sans', sans-serif;
	font-style: normal;
	font-weight: 700;
	font-size: 24px;
	line-height: 33px;
	color: #000000;
}

.team-img {
	position: relative;
	width: 120px;
	height: 138px;
	left: 42px;
	top: 28px;
}

.data-2 {
	position: absolute;
	width: 120px;
	height: 115px;
	left: 42px;
	top: 34px;
}

.box {
	position: absolute;
	width: 495px;
	height: 97px;
	top: 34px;
	right: 26px;
}

.box-1 {
	position: absolute;
	width: 366px;
	height: 198px;
	top: 174px;
	left: 42px;
}


/* Team */


.bloc-1 {
	position: absolute;
	width: 1366px;
	height: 742px;
	left: 37px;
	top: 107px;
	background: #EAEBED;
	border-radius: 41px;
}

.rectangle{
	position: absolute;
	width: 1321px;
	height: 325px;
	margin: 46px 0 0 23px;
	display: flex;
	justify-content: space-between;
}


.rectangle-1 {
	position: relative;
	width: 1321px;
	height: 325px;
	top: 402px;
	left: 23px;
	background-color: #EAEBED;
	display: flex;
	justify-content: space-between;
}

.box-team {
	width: 292px;
	height: 325px;
	border-radius: 41px;
	background-color: #FEFEFE;
}

.box-team:hover::after {
	position: relative;
	display: block;
	content: url("images/trash-alt 1.png");
	width: 42px;
	height: 36px;
	background-color: white;
	left: 225px;
	bottom: 330px;
	border-radius: 20px;
	padding: 19px;
}

.box-team:hover {
	background-color: blue;
}

.box-team:hover .andy-top {
	color: white;
}

.top {
	position: relative;
	width: 100px;
	height: 100px;
	top: 51px;
	left: 96px;
	border-radius: 50px;
}

.andy-top {
	position: relative;
	width: 232px;
	height: 64px;
	left: 28px;
	top: 53px;

	font-family: 'Open Sans', sans-serif;
	font-style: normal;
	font-weight: 600;
	font-size: 24px;
	line-height: 33px;
	text-align: center;
	color: #000000;
}

.it {
	position: relative;
	width: 232px;
	height: 64px;
	left: 28px;
	top: 25px;

	font-family: 'Open Sans', sans-serif;
	font-style: normal;
	font-weight: 600;
	font-size: 20px;
	line-height: 27px;
	text-align: center;
	color: #C5C5C5;
}

.sept {
	position: relative;
	width: 232px;
	height: 64px;
	left: 28px;
	top: 28px;

	font-family: 'Open Sans', sans-serif;
	font-style: normal;
	font-weight: 600;
	font-size: 20px;
	line-height: 27px;
	text-align: center;
	color: #C5C5C5;
}


/* lessons */



.id {
	position: relative;
	width: 1090px;
	height: 40px;
	left: 138px;
	top: 138px;
}

.id-link{
	position: relative;
	font-family: 'Open Sans', sans-serif;
	font-style: normal;
	font-weight: 700;
	font-size: 24px;
	line-height: 33px;
	text-align: center;
	left: 0;
	top: 6px;
	margin: 0 0;
	color: #323232;
}

.id-0{
	margin: 0 147px 0 0;
}

.id-1 {
	margin: 0 146px 0 0;
}

.id-2 {
	margin: 0 146px 0 0;
}

.id-3 {
	margin: 0 147px 0 0;
}

.basic {
	position: relative;
	width: 1194px;
	height: 64px;
	/*	background: #EAEBE1; */
	border-radius: 21px;
}

.basic:hover {
	background-color: #FEFEFE;
}

.b1 {
	position: relative;
	top: 180px;
	left: 86px;

}

.b2 {
	position: relative;
	top: 195px;
	left: 86px;
}

.b3 {
	position: relative;
	top: 210px;
	left: 86px;
}

.b4 {
	position: relative;
	top: 225px;
	left: 86px;
}

.b5 {
	position: relative;
	top: 240px;
	left: 86px;
}

.compl {
	position: relative;
	width: 35px;
	height: 35px;
	border-radius: 8px;
	top: 0;
	left: 90px;
	background-color: #FEFEFE;
/*	padding: 8px 3px; */
}

.gr {
	width: 28px;
	height: 19px;
}
/*
.compl:hover {
	background-color: blue;
}
*/
.less {
	position: relative;
	left: 370px;
}

.ht {
	position: relative;
	width: 138px;
	height: 40px;
	top: -48px;

	font-family: 'Open Sans', sans-serif;
	font-style: normal;
	font-weight: 700;
	font-size: 24px;
	line-height: 33px;
	text-align: center;
	color: #323232;
}

.ht-1 {
	position: relative;
	left: 540px;
}

.ht-2 {
	position: relative;
	left: 635px;
}

.don-1 {
	position: relative;
/*	width: 35px;
	height: 35px; */
	width: 45px;
	height: 45px;
	left: 1060px ;
	top: -89px;
	border: 1px solid ;
	border-radius: 8px;

/*	background-color: #FEFEFE; */
}
/*
.don-1:hover {
	background-color: blue;
}
*/
.don {
	position: relative;
	width: 42px;
	height: 43px;
	margin: 0 0;

}



/* Account */



.a-1 {
	position: absolute;
	width: 615px;
	height: 149px;
	background: #FEFEFE;
	border-radius: 30px;
	top: 20px;
	left: 159px;
}

.a-2 {
	position: absolute;
	width: 618px;
	height: 517px;
	background: #FEFEFE;
	border-radius: 30px;
	top: 189px;
	left: 159px;
}

.a-3 {
	position: absolute;
	width: 588px;
	height: 679px;
	left: 790px;
	top: 20px;
	background: #FEFEFE;
	border-radius: 30px;
}

.circle {
	position: absolute;
	width: 66px;
	height: 66px;
	top: 42px;
	left: 42px;
	background-color: #F24F5E;
	border-radius: 33px;
	padding: 5px 19px;
}

.letter-a {
	position: absolute;
	font-family: 'Open Sans', sans-serif;
	font-style: normal;
	font-weight: 700;
	font-size: 39px;
	line-height: 53px;
	text-align: center;
	color: #FFFFFF;
}

.circle-2 {
	position: absolute;
	width: 66px;
	height: 66px;
	top: 27px;
	left: 42px;
	background-color: #2785F7;
	border-radius: 33px;
	padding: 5px 19px;
}

.circle-3 {
	position: absolute;
	width: 66px;
	height: 66px;
	top: 42px;
	left: 47px;
	background-color: #2785F7;
	border-radius: 33px;
	padding: 5px 19px;
}

img[src*="Vector.png"] {
	position: relative;
	width: 27px;
	height: 33px;
	top: 10px;
	left: 0;
}

.text-big {
	position: absolute;
	font-family: 'Open Sans',sans-serif;
	font-style: normal;
	font-weight: 700;
	font-size: 30px;
	line-height: 41px;
	color: #000000;
}

.big-a {
	position: absolute;
	top: 39px;
	left: 150px;
}

.big-b {
	position: absolute;
	top: 27px;
	left: 150px;
}

.big-c {
	position: absolute;
	top: 27px;
	left: 155px;
}

.text-norm {
	font-family: 'Open Sans', sans-serif;
	font-style: normal;
	font-weight: 700;
	font-size: 18px;
	line-height: 25px;
	color: #B1B1B1;
}

.norm-a {
	position: absolute;
	left: 150px;
	bottom: 41px;
}

.norm-b {
	position: absolute;
	left: 150px;
	bottom: 400px;
}

.norm-c {
	position: absolute;
	width: 388px;
	left: 155px;
	bottom: 562px;
}
/*
form {
	position: relative;
} */

input {
	position: relative;
	width: 524px;
	height: 63px;
	border: 2px solid #2785F7;
	border-radius: 21px;
	background: #FEFEFE;
	top: 137px;
	left: 47px;
	margin: 16px 0;
	padding: 0 14px;
	font-family: 'Open Sans', sans-serif;
	font-style: normal;
	font-weight: 700;
	font-size: 18px;
	line-height: 25px;
	color: #B1B1B1;
}

.text-account {
	position: relative;
	width: 177px;
	height: 23px;
	font-family: 'Open Sans', sans-serif;
	font-style: normal;
	font-weight: 700;
	font-size: 18px;
	line-height: 25px;
	color: #000000;
	top: 134px;
	left: 48px;
}

.log {
	position: absolute;
	width: 494px;
	height: 64px;
	top: 185px;
	left: 47px;
}

.franka {
	position: absolute;
	width: 494px;
	height: 100px;
	top: 305px;
	left: 47px;
}

.country {
	position: absolute;
	width: 237px;
	height: 63px;
	top: 460px;
	left: 47px;
}

.state {
	position: absolute;
	width: 237px;
	height: 63px;
	top: 575px;
	left: 47px;
}

.city {
	position: absolute;
	width: 237px;
	height: 63px;
	top: 460px;
	left: 304px;
}

.code {
	position: absolute;
	width: 237px;
	height: 63px;
	top: 575px ;
	left: 304px;
}

.add-1{
	position: absolute;
	top: 129px;
	left: 47px;
}

.add-2 {
	position: absolute;
	top: 278px;
	left: 47px;
}

.add-3 {
	position: absolute;
	top: 435px;
	left: 47px;
}

.add-4 {
	position: absolute;
	top: 555px;
	left: 47px;
}

.add-5 {
	position: absolute;
	top: 435px;
	left: 304px;
}

.add-6 {
	position: absolute;
	top: 555px;
	left: 304px;
}





